{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<a href="{{url_for('showCategory', category_id=category.id)}}"><p>Go Back</p></a>


<h1>Edit Item</h1>

	<form action="{{url_for('editItem', category_id=category.id, item_id=item.id)}}" method='POST'>

	<p>Name:</p>
		<input type='text' size='30' name='name' placeholder='{{item.name}}'>

	<p>Description:</p>
		<input type='text' size='100' name='description' placeholder='{{item.description}}'>

<br/>

		<select name="catoptions">
			<option value="{{category.id}}">{{category.name}}</option>
			{% for cat in categories %}
				{% if cat.name != category.name %}
		  		<option value="{{cat.id}}">{{cat.name}}</option>		
		 		{%endif%}
 			{% endfor %}
		</select>

		<input type='submit' value='Edit'>

</form>

<a href="{{url_for('showCategory', category_id=category.id)}}">Cancel</a>
{% endblock %}