{% extends "main.html" %}
{% block content %}
{% include "header.html" %}




	<div class="categorygroup">
	

		<div class="categories">

			<h1>Categories</h1>

			{% for sport in category %}

			<div class="sports">

				<a href="{{url_for('showCategory', category_id=sport.id)}}"><div class="sport">{{sport.name}}</div></a>
				<br>
				

			</div>

	



			{% endfor %}
		</div>

		

		<div class="items">
		

			<h1>Latest Items</h1>

			{% for item in items %}


			<div>


					<a href="{{url_for('showItem', item_id=item.id, category_id=item.category_id)}}"><div class="sport">{{item.name}} ({{item.category.name}})</div></a>




			</div>


			{% endfor %}

		</div>
</div>


{% endblock %}