{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<a href="{{url_for('newItem', category_id=category.id)}}"><p>Add a New Item</p></a>

<h1>{{category.name}}</h1>

{% for item in items %}

<div>

	<a href="{{url_for('showItem', category_id=item.category_id, item_id=item.id)}}"><div class="sport">{{item.name}}</div></a>
	<br>
	<a href="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}"><div class="options">Edit</div></a>
	<a href="{{url_for('deleteItem', category_id=item.category_id, item_id=item.id)}}"><div class="options">Delete</div></a>

	<br>


</div>


{% endfor %}
{% endblock %}
